{% extends "base.html" %}
{% load thumbnail %}
{% load markdownify %}
{% block content %}
{% include "header.html" %}

<p>Title: {{post.title}}</p>
<br>
<p>{{ post.content|markdownify }}</p>
<br>
{% thumbnail post.cover "200x200" crop="center" format="PNG" as thumb %}
    <img src="{{ thumb.url }}" alt="Post cover">
  {% endthumbnail %}
<br>
<p>Content: {{post.content}}</p>
<br>
<p>Category: {{post.get_category_display}} || Rating: {{post.get_rating_display}}</p>
<br>
<p>Reason: {{post.seals.all}}</p>
{% comment "" %} bucle para comments = for comment in post.comments {% endcomment %}
<p><a href="{% url 'posts:post-list' %}">Back</a></p>
{% endblock %}




