
    {% extends "base.html" %}
    {% block content %}
    {% include "header.html" %}
    {% verbatim %}
        <p>This won't be {{ var }} rendered</p>
    {% endverbatim %}
    {{18327464363|filesizeformat}}
    <br>
    {{876565784452|stringformat:".3f"}}
    <br>
    {{user}}
    {% for post in posts %}
        <li style="background-color: '{% cycle 'LightBlue' 'LightPink'%}'">
            {{ post|capfirst }}
        </li>
        <p>Read more <a href="{% url 'posts:post-detail' post.slug%}">here</a></p>
    
        {% endfor %}
        <a href="{% url 'posts:add-post' %}">Añadir un Post</a>
        <br>
        <a href="{% url 'login' %}">Login</a>
        <br>
        <a href="{% url 'logout' %}">Logout</a>
        <br>
        <a href="{% url 'signup' %}">Sign up</a>
    {% endblock %}
    



