* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: antiquewhite;
}

h1,
h2 {
  text-align: center;
}

li {
  text-align: left;
  border-width: 1px;
}

.login_form {
  border: solid;
  text-align: center;
}

.don_pollo_img {
  width: 200px;
  height: 200px;
  position: relative;
  left: 300px;
}
